
<div class=" py-12 sm:pt-20">
    <div
        class="flex flex-col justify-center items-center md:flex-row md:items-start space-y-8 md:space-y-0 md:space-x-4 lg:space-x-8 max-w-6xl w-11/12 mx-auto">
        <app-product-images  [productSelected]='productSelected' ></app-product-images>
        <div class="flex flex-col justify-between h-full w-full md:w-1/2 max-w-xs mx-auto space-y-4 min-h-128">
            <app-product-info [productSelected]='productSelected'></app-product-info>
            <app-product-form
                [productSelected]='productSelected' 
                [ProductFormGroup]='ProductFormGroup'>
        </app-product-form>
        </div>
    </div>
</div>