
 <div class="w-full  max-w-md border border-palette-lighter bg-white rounded shadow-lg">
    <div class="relative h-96">
      <img
        src="{{productSelected?.image}}"
        layout="fill"
        class="transform duration-500 ease-in-out hover:scale-105"
      />
    </div>
    <div class="relative flex border-t border-palette-lighter">
      <button
        aria-label="left-scroll"
        class="h-32 bg-palette-lighter hover:bg-palette-light  absolute left-0 z-10 opacity-75"
      >
      <i class="w-3 mx-1 text-palette-primary fas fa-arrow-left"></i>
    </button>
      <div
        class="flex space-x-1 w-full overflow-auto border-t border-palette-lighter"
      >

            <button
              class="relative w-40 h-32 flex-shrink-0 rounded-sm "
              *ngFor="let im of productSelected?.productImages"

            >
              <img
                src={{im?.image}}
                layout="fill"
                class=""
              />
            </button>
       
      </div>
      <button
        aria-label="right-scroll"
        class="h-32 bg-palette-lighter hover:bg-palette-light  absolute right-0 z-10 opacity-75"
      >
        <i  class="w-3 mx-1 text-palette-primary fas fa-arrow-right" ></i>

      </button>
    </div>
  </div>