 
        <div class="xl:h-screen bg-blue-50 overflow-hidden relative"><!-- Start Hero -->
            <div class="sm:h-96 xl:h-full container mx-auto px-5">
                <div class="absolute top-20  right-20">
                    <a href="#" ><img src="../../../../../assets/images/homepageimage.png" alt=""></a>
                </div>
                <div class="xl:h-full grid gap-y-8 sm:gap-y-0 sm:gap-x-10 sm:grid-cols-2 mt-32 xl:mt-auto content-center float-right">
                    <div class="sm:col-span-1 space-y-5 md:space-y-8">
                        <h1 class="text-4xl sm:text-5xl xl:text-7xl font-semibold">Do you like Stickers !!</h1>
                        <p class="max-w-sm text-lg md:text-2xl">So by One You son of Bitch</p>
                    </div>
                </div>
            </div>
            <div class="hidden sm:block sm:absolute bottom-6 sm:inset-x-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                  </svg>
            </div>
        </div><!-- End Hero -->