<header class="border-b border-palette-lighter sticky top-0 z-20 bg-white">
  <div
    class="flex items-center justify-between mx-auto max-w-6xl px-6 pb-2 pt-2"
  >
    <a class="cursor-pointer">
      <h1 class="flex no-underline">
        <img
          height="32"
          width="32"
          alt="logo"
          class="h-8 w-8 mr-1 object-contain"
          src="../../../../assets/images/icon.svg"
        />
        <span class="text-xl font-primary font-bold tracking-tight pt-1">
          Stickers
        </span>
      </h1>
    </a>

    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex space-x-7">
          <!-- Primary Navbar items -->
          <div class="hidden md:flex items-center space-x-1">
            <a
              routerLink="/stickers/home"
              routerLinkActive="border-b-4 border-purple-500"
              class="py-4 px-2 text-black-500 font-semibold transition duration-300 hover:text-purple-500 hover:border-b-4 hover:border-purple-500"
              >Home</a
            >
            <a
              routerLink="/stickers/products"
              routerLinkActive="border-b-4 border-purple-500"
              class="py-4 px-2 text-black-500 font-semibold transition duration-300 hover:text-purple-500 hover:border-b-4 hover:border-purple-500"
              >Products</a
            >
            <a
              routerLink="/stickers/About-us"
              routerLinkActive="border-b-4 border-purple-500"
              class="py-4 px-2 text-black-500 font-semibold transition duration-300 hover:text-purple-500 hover:border-b-4 hover:border-purple-500"
              >About</a
            >
            <a
              routerLink="/stickers/contact-us"
              routerLinkActive="border-b-4 border-purple-500"
              class="py-4 px-2 text-black-500 font-semibold transition duration-300 hover:text-purple-500 hover:border-b-4 hover:border-purple-500"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>

    <button
      routerLink="/stickers/checkout"
      class="text-purple-800 py-4 px-1 relative border-2 border-transparent text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out"
      aria-label="Cart"
    >
      <svg
        class="h-6 w-6 text-purple-800"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
        ></path>
      </svg>
      <span class="absolute inset-0 object-right-top -mr-6">
        <div
          class="inline-flex items-center px-1.5 py-0.5 border-2 border-white rounded-full text-xs font-semibold leading-4 bg-red-500 text-white"
        >
          {{ basketLenght }}
        </div>
      </span>
    </button>
  </div>
</header>
