<div>
  <h1
    class="leading-relaxed font-primary text-purple-800 font-extrabold text-4xl text-center text-palette-primary mt-4 py-2 sm:py-4"
  >
    Our Categories
  </h1>
</div>

<div class="p-8 drop-shadow-2xl">
  <a href="">
    <div class="grid grid-cols-4 gap-20">
      <div *ngFor="let cat of listOfCategories | async; let i = index" cma>
        <div
          class="rounded-full w-56 h-52 flex justify-center hover:shadow-2xl shadow-cyan-500/50"
        >
          <div class="w-48 h-48">
            <img src="../../../../assets/images/game1.png" class="" alt="" />
            <div class="flex justify-center">
              <span class="text-xl font-semibold mt-2 text-black-500">
                {{ cat.categoryName }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
