<div class="top-bar">
  <!-- BEGIN: Breadcrumb -->
  <div class="hidden mr-auto -intro-x breadcrumb sm:flex">
    <a href="">Application</a>
    <i class="breadcrumb__icon fas fa-chevron-right"></i
    ><a href="" class="breadcrumb--active">{{ title }}</a>
  </div>
  <!-- END: Breadcrumb -->

  <!-- BEGIN: Account Menu -->
  <div class="w-8 h-8 intro-x dropdown">
    <div
      (click)="dropdownIsShow = !dropdownIsShow"
      class="w-8 h-8 overflow-hidden rounded-full shadow-lg  dropdown-toggle image-fit zoom-in"
      role="button"
      aria-expanded="true"
    >
      <img
        alt="Rubick Tailwind HTML Admin Template"
        src="/assets/images/profile-6.jpg"
      />
    </div>
    <div
      [hidden]="!dropdownIsShow"
      enter-active-class="transition duration-100 ease-out"
      enter-class="transform scale-95 opacity-0"
      enter-to-class="transform scale-100 opacity-100"
      leave-active-class="transition duration-75 ease-in"
      leave-class="transform scale-100 opacity-100"
      leave-to-class="transform scale-95 opacity-0"
    >
      <div
        x-description="Dropdown menu, show/hide based on menu state."
        x-show="open"
        class="absolute right-0 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg  ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="user-menu"
      >
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          role="menuitem"
        >
          Your Profile
        </a>

        <a
          routerLink="/"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          role="menuitem"
        >
          Sign out
        </a>
      </div>
    </div>
  </div>
  <!-- END: Account Menu -->
</div>
