<nav class="side-nav">
    <a href="" class="flex items-center pt-4 pl-5 intro-x">
      <img
        alt="Rubick Tailwind HTML Admin Template"
        class="w-6"
        src="/assets/images/logo.svg"
      />
      <span class="hidden ml-3 text-lg text-white xl:block">
        AD<span class="font-medium">EU</span>
      </span>
    </a>
    <div class="my-6 side-nav__devider"></div>
    <ul>
      <li>
        <a
          routerLink="/adminapplication/dashboard"
          [routerLinkActive]="['side-menu--active']"
          class="side-menu"
        >
          <div class="side-menu__icon"><i class="fas fa-home"></i></div>
          <div class="side-menu__title">Dashboard</div>
        </a>
      </li>
      <li>
        <a  class="side-menu">
          <div class="side-menu__icon">
          <i class="far fa-eye"></i></div>
          <div class="side-menu__title">Products</div>
        </a>
      </li>
      <li>
        <a  class="side-menu">
          <div class="side-menu__icon">
            <i class="fas fa-file-import"></i>
          </div>
          <div class="side-menu__title">New Product</div>
        </a>
      </li>
      <li>
        <a class="side-menu">
          <div class="side-menu__icon">
            <i class="fas fa-file-import"></i>
          </div>
          <div class="side-menu__title">Orders</div>
        </a>
      </li>
      <li>
        <a  class="side-menu">
          <div class="side-menu__icon">
            <i class="fas fa-file-import"></i>
          </div>
          <div class="side-menu__title">New Ctegory</div>
        </a>
      </li>
    </ul>
  </nav>
  