<a aria-label="back-to-products"
    class="border border-purple-800 text-purple-800 text-lg font-primary font-semibold pt-2 pb-1 leading-relaxed flex 
   justify-center items-center focus:ring-1 focus:ring-palette-light focus:outline-none w-full hover:bg-palette-lighter rounded-sm">
    <i class="w-4 mr-2 inline-flex  fas fa-arrow-left"></i>
    Back To All Products
</a>
<div class=" font-primary">
    <h1 class="leading-relaxed text-purple-800 font-extrabold text-3xl text-palette-primary py-2 sm:py-4">
        {{productSelected?.title}}
    </h1>
    <p class="font-medium text-lg">
        {{productSelected?.description}}
    </p>
    <div class="text-xl text-purple-800 font-medium py-4 px-1">
        $<span class="text-2xl">  {{productSelected?.price}}</span>
    </div>
</div>